@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div id="mycenter" data-options="region:'center',iconCls:'icon-ok'" style="overflow: hidden">
            <div class="easyui-tabs" id="div_main" style="width: 100%">
                <div title="首页" style="margin: 100px 100px; width: 99%;">
                    <div style="font-size: 40px; color: #CD4F39;">QQ:570722101@qq.com</div>
                    <div style="font-size: 40px; color: #CD4F39;">Tel:18333163120</div>
                    <div style="font-size: 40px; color: #CD4F39;">新浪微博：<a href="http://weibo.com/u/3608846327">StarJoneOne</a></div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
