@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>student</title>
    <link href="~/Scripts/jquery-easyui-1.4.2/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Scripts/jquery-easyui-1.4.2/themes/IconExtension.css" rel="stylesheet" />
    <link href="~/Scripts/jquery-easyui-1.4.2/themes/icon.css" rel="stylesheet" />
    <link href="~/Source/css/style.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-easyui-1.4.2/jquery.min.js"></script>
    <script src="~/Scripts/jquery-easyui-1.4.2/jquery.easyui.min.js"></script>
    <script src="~/Scripts/jquery-easyui-1.4.2/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script type="text/javascript">
        $(function () {
            init();
        });
        //初始化加载数据
        function init() {
            $("#tt").datagrid({
                url: '@Url.Action("GetSingeStudentRoll", "Student")',
                striped: 'true',
                pagination: 'true',
                fitColumns: 'true',
                pageNumber: 1,
                pageSize: 15,
                pageList: [5, 10, 15, 20, 25],
                queryParams:
                {

                },
                type: "post",
                columns: [
                    [
                         
                {
                    field: 'studentID',
                    title: '学生学号',
                    sortable: 'true',
                    formatter: function (value, row, index) {
                        return '<span style="cursor:pointer;color:blue"  title="' + value + '"  onclick="parent.addTab(\'详细页面\',\'../Student/SingeStudentDetailed?studentID=' + row.studentID + '\', \'icon-group\');" >' + value + '</span>';
                    },
                    width: 100
                },

                { field: 'studentName', title: '学生姓名', width: 70 },
                { field: 'stuGender', title: '学生性别', width: 70 },
                 {
                     field: 'stuBirthdate', title: '学生日期',
                     formatter: function (value, row, index) {
                         value = ChangeDateFormat(value);
                         return value;
                     },
                     width: 100
                 },
                 { field: 'stuNation', title: '学生民族', width: 70 },

                 { field: 'stuAdress', title: '家庭住址', width: 100 },
                  { field: 'stuHealth', title: '健康状况', width: 70 },
                  { field: 'stuClass', title: '学生班级', width: 100 },
                  { field: 'stuSchoolSystem', title: '所在学院', width: 120 },
                   { field: 'stuDorm', title: '学生宿舍', width: 100 },
                   { field: 'stuEmail', title: '邮件信息', width: 120 },
                   {field: 'stuPhone', title: '学生手机', width: 100 },
                    { field: 'stuPostCode', title: '所在地邮编', width: 100 },
                    { field: 'stuRemark', title: '何时何种奖惩', width: 120 }

                    ]
                ]
            });

        }

   




    </script>

</head>
<body>

    <div class="dj-input-title">

    </div>
    <div class="clear"></div>
    <div>
        <table id="tt" style="height: 520px"></table>
    </div>



</body>
</html>
