   .datagrid-header-row td{background-color:#eeeeee;height:40px;text-align: center
      
        }

         .datagrid-row {
        height:40px;
    }

/*.l-btn-left {
    background-image: url('../Images/lbtnbg.jpg');
}*/